body {
   width: 100%;
   height: 100vh;
   background: linear-gradient(
      90deg,
      #735dcc 0%,
      rgba(76, 94, 188, 0.2) 109.06%
   );
   display: flex;
   justify-content: center;
   align-items: center;
}
.expenseSite {
   font-weight: 400;
   font-size: 38px;
   line-height: 54px;
   color: white;
}
.content {
   display: flex;
   flex-direction: row;
   gap: 30px;
}
.block {
   max-width: 500px;
   width: 100%;
   display: flex;
   flex-direction: column;
   height: 500px;
   margin: 0 auto;
   gap: 10px;
}
.inputExpense {
   width: 244px;
   height: 38px;
   background: rgba(255, 255, 255, 0.2);
   border: 1px solid #000000;
   margin-bottom: 20px;
}
.inputExpense > input {
   background: rgba(255, 255, 255, 0);
   border: none;
   width: 203px;
   height: 38px;
   padding-left: 15px;
}
.inputExpense > input:focus {
   outline: none;
}
.inputSelect {
   width: 244px;
   height: 38px;
   background: rgba(255, 255, 255, 0.2);
   border: 1px solid #000000;
}
.inputSelect > select {
   background: rgba(255, 255, 255, 0);
   border: none;
   width: 228px;
   height: 38px;
   padding-left: 20px;
}
.inputSelect > select:focus {
   outline: none;
}
.buttonAdd {
   background: #3050c0;
   border-radius: 20px;
   width: 170px;
   height: 38px;
   font-weight: 400;
   font-size: 22px;
   color: white;
}
.history {
   font-weight: 700;
   font-size: 22px;
   line-height: 39px;
   color: #ffffff;
}
.down-content {
   display: flex;
   flex-direction: row;
   gap: 30px;
}
.left {
   width: 248px;
}
.limit,
.all {
   font-weight: 700;
   font-size: 22px;
   line-height: 39px;
   color: #ffffff;
}
.limitAll {
   display: flex;
   align-items: center;
   gap: 5px;
   padding-bottom: 15px;
}
.image {
   width: 26px;
   height: 26px;
}
.numberLimit {
   font-weight: 400;
   font-size: 22px;
   line-height: 39px;
   color: #000000;
}
.listOne {
   font-weight: 400;
   font-size: 22px;
   line-height: 39px;
   color: #000000;
}
.expenseAll {
   display: flex;
   gap: 5px;
}
.positive {
   color: rgb(1, 179, 1);
}
.negative {
   color: red;
}
.statusCnt {
   display: flex;
   align-items: center;
   gap: 10px;
   font-weight: 700;
   font-size: 22px;
   line-height: 39px;
}
